@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    color: white;
}

body {
    background-color: black;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;  /* Keeps scrolling enabled */
    height: 100vh;
    -ms-overflow-style: none;  /* For Internet Explorer 10+ */
    scrollbar-width: none;     /* For Firefox */
}

.container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Webkit browsers (Chrome, Safari) */
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.title {
    margin-top: 15vh;
    margin-left: 5vw;
}

.titleAboutMe {
    margin-left: 5vw;
}

#designTitle {
    margin-top: 25vh;
    margin-bottom: 25px;
    width: 100%;
}

.titleContacts {
    margin: auto;
}

.descriptionBox {
    margin-left: 5vw;
    margin-right: 25vw;
}

.navbar-toggler-icon {
    filter: invert(1) sepia(1) saturate(100%) hue-rotate(180deg);
}

.navbar {
    background-color: #000;
    border: 2px solid white; /* Defines the border width, style, and color */
}

#navButton {
    color: white;
    border: 2px solid;
    border-radius: 0;
    font-family: 'Courier New', Courier, monospace;
}

#navButtonHamburger {
    color: white;
    border: 2px solid;
    border-radius: 0;
}

.socialLinks {
    display: flex; /* Use Flexbox for better layout control */
    justify-content: center; /* Centers items horizontally */
    gap: 10px; /* Adds space between icons (optional) */
    margin-top: 5px; /* Adds spacing above the icons (optional) */
  }